:root {
  --green: #A2CCB6;
  --yellow: #FCEEB5;
  --peach: #EE786E;
  --off-white: #FFFFF4;
  --my-color: #2c7cb5;
}


html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    background-color: var(--off-white)     
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.buttons {
    max-width: 959px;
    background-color: rgba(148, 148, 157, 0.818);
    margin: 30px auto;
    display: grid;
    grid-template-rows: repeat(5, 6rem);
    grid-template-columns: repeat(31,3rem);
    justify-content: center;
    align-content: end; 
    border: 3px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    grid-gap: 1px;
    border-radius: 10px;

}

.render {
    display: grid;
    font-size: 2rem;
    font-weight: 600;
    font-family:  "Trebuchet MS", "Helvetica", sans-serif;
    /* color: rgba(253, 253, 247, 0.998); */
    color: black;
    background-color: var(--off-white);
    border-radius: 1rem;
    grid-column: span 2;
    /* text-align: center; */
    justify-content: center;
    align-content: center;
    border: 2px solid #000;

}

.render:hover {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--off-white);
    background: rgba(35, 226, 115, 0.998);
    transition: ease-out 0.5s;
}

 /* .btn {

} 

.btn::before {
    

}  */
.backspace {
    /* сделать перенос стрелки*/
    grid-column: span 5;
    /* align-content: end; */

}

/* .backspace::after {
    display: inline;
    content: '\27F5';

    font-size: 1.4rem;
    justify-content: start;
} */

.tab {
    grid-column: span 3;
}

.capslock {
    grid-column: span 5;
}
.enter {
    grid-column: span 4;
}
.shift {
    grid-column: span 5;
    
}
div.buttons > div:nth-child(55) {
    grid-column: span 4;
}
.space {
    grid-column: span 15;
}


.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input__title{
    
    display: inline;
    font-size: 3rem;
    margin: 0 0 10px 0;
    color: var(--my-color);
}
.input__text{
    font-size: 2rem;

}

.active {
    border-radius: 2rem;
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--off-white);
    background: rgba(35, 226, 115, 0.998);
    transition: ease-out 0.1s;
}